@charset "UTF-8";

tr.headerline {
	background-color: #3468C0;
	height: 50px;	
}

span.menutext {
	font-size: 16px;
	font-family: Impace;
	color: white;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: white;
}

a:visited {
	text-decoration: none;
	color: #3f3f3f;
}

a.pageNumber:link {
	font-family:Arial;
	text-decoration: none;
}

a.pageNumber:hover {
	font-family:Arial;
	text-decoration: underline;
	color: blue;
}

