<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.won15367.home.dao.BoardDao">
	
	<select id="testDao" resultType="String">
		SELECT fbtitle FROM freeboard WHERE fbnum=#{param1}
	</select>
	
	<select id="listDao" resultType="com.won15367.home.dto.QAboardDto">
		SELECT * FROM
			(SELECT A.*, FLOOR(((ROWNUM-1)/#{param1})+1)PAGENUM, ROWNUM
				FROM
					((SELECT * FROM qaboard ORDER BY qbnum DESC)A))
						WHERE PAGENUM=#{param2}
	</select>
	
	<insert id="writeDao">
		INSERT INTO qaboard(qbnum, qbmid, qbmname, qbemail, qbtitle, qbcontent) VALUES(QABOARD_SEQ.nextval, #{param1}, #{param2}, #{param3}, #{param4} ,#{param5})
	</insert>
	
	<select id="contentViewDao" resultType="com.won15367.home.dto.QAboardDto">
		SELECT * FROM qaboard WHERE qbnum=${param1}
	</select>
	
	<update id="contentModifyDao">
		UPDATE qaboard SET qbtitle=#{param2}, qbcontent=#{param3} WHERE qbnum=#{param1}
	</update>
	
	<delete id="contentDeleteDao">
		DELETE FROM qaboard WHERE qbnum=${param1}
	</delete>
	
	<select id="boardAllCountDao" resultType="int">
		SELECT count(*) FROM qaboard	
	</select>
	
	
</mapper>